<div class="panel">
  <div class="panel-body">
    <strong><%= message.user.fullname %></strong>
    <span class="pull-right">Form <%=message.user.fullname%> <%= message.message_time %></span>
    <br/>
    <div class="row-space-2">
      <%= message.content %>
    </div>
  </div>
</div>
