// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// app colors

// $app_grey :#e8e8e8;
// $winter_blue :#5588a3;
// $app_blue :#145374;
// $app_dark_blue :#00334e;
$mild_yellow :#fffbe0;

$app_yellow :#fce38a;
$app_blue :#2994b2;
$app_dark :#444f5a;