<h1>Welcome To Bridge me "<%= @user.fullname %>"</h1>
    <p>
      You have successfully signed up to Bridge me
    </p>
    <p>
      To login to the site, just follow this link:  <a href="<%= @url %>"><%= @url %></a>
    </p>
    <p>Thanks for joining and have a great day!</p>