
 #layout-body {
    min-height: 100vh !important; /* will cover the 100% of viewport */
    -moz-min-height: 100vh;
   -webkit-min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px; /* height of your footer */

   }

   @media(max-width:987px){

      #layout-body{
      padding-bottom: 300px;
      }

   }
  