.jumbotron {
  position:relative;
  overflow:hidden;
  height: 600px;;
    margin-top:-20px;
}

.jumbotron .container {
  position:relative;
  z-index:2;
  
  // background:rgba(0,0,0,0.2);
  padding:2rem;
  background: transparent;
  // border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
  margin-top:10%;
  // margin-bottom: 10%;
}

.jumbotron-background {
  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  // opacity:0.5;
}

.power-text{

  color:#fff;
  // opacity:0.5; 
}

// img.blur {
// 	-webkit-filter: blur(4px);
// 	filter: blur(4px);
//   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');

// }


.search_container {
  width: 25rem;
  height: 100%;
  margin: 0 1rem;
  margin-left:-0.4em;
  position: relative;
  // margin-left:30%;
  // margin-right:30%;

}

h1 {
  margin: 2rem;  
}
// @media(min-width:890px){
.searchbar {
  font-size: 2.4rem;
  // width: 29rem;
  width: 90rem;
  // width:100%!important;
  height: 6rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem rgba(black, .1);
  padding: 2rem;
  position: relative;
  transition: all .2s;
  transition-delay: .1s;
  color:$app_dark;
  margin-left:0px;
  font-size: 15px;
}

.searchbar:hover {
  width: 92rem;
  height: 7rem;
}

.button {
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: -62rem;
  // right: -2rem;
  transition: all .2s;
  transition-delay: .1s;
  
}

.button:hover {
  cursor: pointer;
}

.searchbar:hover + .button {
  height: 2.5rem;
  top: 1.8rem;
  // left: ;
  // right:-3em;
  right:-64rem;
}

.searchbar::placeholder {
  opacity: .5;
  color:$app_dark;
}

// }

@media (max-width:890px){



.searchbar {
  width: 29rem;
  height: 6rem;

  
}

.searchbar:hover {
  width: 32rem;
  height: 7rem;
}

.button {
 
  right: -2rem;
  transition-delay: .2s;
  
}

.searchbar:hover + .button {
  // height: 2.5rem;
  // top: 1.8rem;
  // // left: ;
  right:-3em;
  // right:-64em;
}

}





.service_link{
  padding: 50px;
  height: 300px;
  width:100%;
  height: 300px;
  // margin-left:10%;
  justify-items: center;
  align-items: baseline !important;
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  // padding


}

.header_caption h2{

  font-size:6rem;
}
  
.badge_banner {
  height: 200px;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  width: 100%;
  background-color:$app_blue !important;
  color:white;
  border-radius:10px;
  margin-top:20px;

}
  
  item {
    padding: 25px;

  }

// ========== search result page ==========
.search_hero{
height: 100vh;
margin-top:-20px;
margin-bottom: -11%;
}

  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);





  .starrating > input {display: none;}  /* Remove radio buttons */
  
  .starrating > label:before { 
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block; 
  }
  
  .starrating > label
  {
    color: #222222; /* Start color when not clicked */
  }
  
  .starrating > input:checked ~ label
  { color: #ffca08 ; } /* Set yellow color when star checked */
  
  .starrating > input:hover ~ label
  { color: #ffca08 ;  } /* Set yellow color when star hover */
  
// .hero-home {

//   // background-image: asset_path("../images/bridgeme1.jpeg");
//   position: relative;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
  
//   width: 1280px;
//   opacity: 1;
//   transform: translate3d(0px, 0px, 0px);
//   transition-duration: 0ms

// }

// div#search-bar {
//   border-radius: 10rem;
//   background:#fff;
//   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
//   height: 100%;
//   color:blue;
//   z-index: 30;
//   position: relative;
  
// }


// @media (min-width:920px)and (max-width:1030px){
//   div#search-bar {
//   border-radius:30px !important;
//   background:#fff;
//   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
//   height: 100%;
//   // color:blue;
//   z-index: 30;
//   position: relative;

//   }
// }


// @media (max-width:920px){
//   div#search-bar {
//   border-radius:20px !important;
//   background:#fff;
//   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
//   height: 100%;
//   // color:blue;
//   z-index: 30;
//   position: relative;

//   }

// }



// .light-overlay, .dark-overlay, .gradient-overlay {
//   position: relative;
//   overflow: hidden;
// }


// .hero-slider {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
// }

// form {
//   display: block;
//   margin-top: 0em;
// }

// form.row{

//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;

// }


// // .search-bar .form-group {
// //     // position: relative;
// //     margin-bottom: 0;
// //     align-items: center;
// //     // border-bottom: #2994b2 solid;
// //     background-color: transparent;
// // }

// .search-bar .form-group {
//   position: relative;
//   margin-bottom: 0;
//   margin-top:20px;
// }

// .align-items-center {
//   -ms-flex-align: center !important;
//   align-items: center !important;
// }




// SETTINGS - VARIABLES

$color-link:$app_blue;
$color-separator:$app_dark;
$size-icon: 20px;
$space-separator: 10px;

// TOOLS - MIXINS

.breadcrumbs{
  height: 100px;
  width:100%;
  margin-left:20px;
  position: relative;
  // margin-bottom: -70% !important;
}

#hero_crumbs{
  margin-left:47%;
}

@mixin text-underline($color: currentColor) {
  background-image: linear-gradient($color, $color);
  background-size: auto 1px;
  background-repeat: repeat-x;
  background-position: 0 calc(50% + 1ex);
}

// TOOLS - FUNCTIONS

/// Returns SVG-Image embedded in a Data-URI.
// / @parameter {color} Hexadecimal value for stroke color
// / @returns {string} Data-URI
// / @example background: url(icon-svg-uri('arrow-left', #000000)) center / 16px no-repeat;
// / @link https://feathericons.com/ Icon design by Cole Bemis
@function icon-svg-uri($icon-name, $color) {
  @if (type_of($color) == 'color') and (str-index(inspect($color), '#') == 1)  {
    $encoded-color: '%23' + str-slice(inspect($color), 2);

    // MS Edge is turning single quotes to double quotes. (`url('data:` -> `url("data:`)
    $icon-set: (
      arrow-left: "%3Cline x1='19' y1='12' x2='5' y2='12'%3E%3C/line%3E%3Cpolyline points='12 19 5 12 12 5'%3E%3C/polyline%3E",
      chevron-right: "%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E"
    );

    @if map-has-key($icon-set, $icon-name) {
      @return "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{$encoded-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round%5C'%3E#{map-get($icon-set, $icon-name)}%3C/svg%3E";
    } @else {
      @error 'Invalid icon name: `#{$icon-name}`'
    };
  }@else {
    @error 'Invalid HEX value: `#{$color}`'
  }
};

// GENERIC - RESET

a:link {
  text-decoration: none;
}

// body {
//   margin: 0;
// }

// html {
//   -webkit-text-size-adjust: 100%;
// }

ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

// GENERIC - NORMALIZE

a:focus {
  outline: thin dotted;
}

// GENERIC - FONTS

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

// ELEMENTS - A

a:link {
  touch-action: manipulation;
}

a:active,
a:hover {
  outline: 0;
}

a:visited:not([rel='external']) {
  color: currentColor;
}

// ELEMENTS - BODY

// body {
//   margin: 32px;
//   font: 16px/32px 'Work Sans', sans-serif;
// }

// OBJECTS - INLINE-SVG-ICON

.o-inline-svg-icon {
  stroke: currentColor;

  &--baseline {
    position: relative;
    top: .125em;
    width: 1em;
    height: 1em;
  }
}

// COMPONENTS - NAVIGATION-BREADCRUMBS

.c-navigation-breadcrumbs {
  margin-top:2em;
  font-size: 20px;
  margin-bottom: -20px!important;
  &__directory {
    display: flex;
  }

  &__link:link {
    color: $color-link;

    &:hover {
      @include text-underline();
    }
  }

  // Shorten the breadcrumb trail to include only the next higher level. (Prevent wrap to multiple lines on small screen sizes)
  @media (max-width: 500px) {
    &__item {
      &:not(:nth-last-child(2)) {
        display: none;
      }
    }

    &__link {
      &:before {
        display: inline-block;
        // Invisible space character (sets auto-height for element)
        content: '\200b';
        // User goes "up one level" instead of "navigating back" to the last view or page.
        background: url(icon-svg-uri('arrow-left', $color-link)) center / $size-icon $size-icon no-repeat;
        width: $size-icon;
      }
    }
  }

  @media (min-width: 501px) {
    &__item {
      &:nth-last-child(n+2):after {
        display: inline-block;
        content: '\200b';
        // "Greater-than sign" indicates higher-level page.
        background: url(icon-svg-uri('chevron-right', $color-separator)) center / $size-icon $size-icon no-repeat;
        width: $size-icon;
        margin: 0 $space-separator;
      }
    }

    &__link {
      display: block;
      float: left;
    }
  }
}

// UTILITIES - VISUALLY-HIDDEN

.u-visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}


// @media (max-width: 500px) {

//     .home_item {
//       .home_item:nth-last-child(n+2):after {
//         display: inline-block;
//         content: '\200b';
//         // "Greater-than sign" indicates higher-level page.
//         background: url(icon-svg-uri('chevron-right', $color-separator)) center / $size-icon $size-icon no-repeat;
//         width: $size-icon;
//         margin: 0 $space-separator;
//       }
//     }

//     .home_link {
//       display: block;
//       float: left;
//     }
//   }

// }



// ========= end search results page ========

// ======== swiper ==========

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
    color:$app_blue !important;
    z-index: 1000 !important;
  }
  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
    color:$app_blue !important;
    z-index: 1000!important;
  }
}



