.jumbotron {
  position:relative;
  overflow:hidden;
  height: 560px;;
    margin-top:-18px;
}

.jumbotron .container {
  position:relative;
  z-index:2;
  
  // background:rgba(0,0,0,0.2);
  padding:2rem;
  background: transparent;
  // border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
  margin-top:10%;
}

.jumbotron-background {
  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  // opacity:0.5;
}

// img.blur {
// 	-webkit-filter: blur(4px);
// 	filter: blur(4px);
//   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');

// }


.search_container {
  width: 25rem;
  height: 100%;
  margin: 0 1rem;
  margin-left:-0.4em;
  position: relative;
  // margin-left:30%;
  // margin-right:30%;

}

h1 {
  margin: 2rem;  
}

.searchbar {
  font-size: 2.4rem;
  // width: 29rem;
  width: 90rem;
  // width:100%!important;
  height: 6rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem rgba(black, .1);
  padding: 2rem;
  position: relative;
  transition: all .2s;
  transition-delay: .1s;
  color:$app_dark;
  margin-left:0px;
  font-size: 15px;
}

.searchbar:hover {
  width: 92rem;
  height: 7rem;
}

.button {
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: -62rem;
  // right: -2rem;
  transition: all .2s;
  transition-delay: .1s;
  
}

.button:hover {
  cursor: pointer;
}

.searchbar:hover + .button {
  height: 2.5rem;
  top: 1.8rem;
  // left: ;
  // right:-3em;
  right:-64rem;
}

.searchbar::placeholder {
  opacity: .5;
  color:$app_dark;
}

@media (max-width:890px){



.searchbar {
  width: 29rem;
  height: 6rem;
  
}

.searchbar:hover {
  width: 32rem;
  height: 7rem;
}

.button {
 
  right: -2rem;
  transition-delay: .2s;
  
}

.searchbar:hover + .button {
  // height: 2.5rem;
  // top: 1.8rem;
  // // left: ;
  right:-3em;
  // right:-64em;
}

}





.service_link{
  padding: 50px;
  height: 300px;
  width:100%;
  height: 300px;
  // margin-left:10%;
  justify-items: center;
  align-items: baseline !important;
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  // padding


}

.header_caption h2{

  font-size:6rem;
}
  
list {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}
  
  item {
    padding: 25px;

  }



// .hero-home {

//   // background-image: asset_path("../images/bridgeme1.jpeg");
//   position: relative;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
  
//   width: 1280px;
//   opacity: 1;
//   transform: translate3d(0px, 0px, 0px);
//   transition-duration: 0ms

// }

// div#search-bar {
//   border-radius: 10rem;
//   background:#fff;
//   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
//   height: 100%;
//   color:blue;
//   z-index: 30;
//   position: relative;
  
// }


// @media (min-width:920px)and (max-width:1030px){
//   div#search-bar {
//   border-radius:30px !important;
//   background:#fff;
//   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
//   height: 100%;
//   // color:blue;
//   z-index: 30;
//   position: relative;

//   }
// }


// @media (max-width:920px){
//   div#search-bar {
//   border-radius:20px !important;
//   background:#fff;
//   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
//   height: 100%;
//   // color:blue;
//   z-index: 30;
//   position: relative;

//   }

// }



// .light-overlay, .dark-overlay, .gradient-overlay {
//   position: relative;
//   overflow: hidden;
// }


// .hero-slider {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
// }

// form {
//   display: block;
//   margin-top: 0em;
// }

// form.row{

//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;

// }


// // .search-bar .form-group {
// //     // position: relative;
// //     margin-bottom: 0;
// //     align-items: center;
// //     // border-bottom: #2994b2 solid;
// //     background-color: transparent;
// // }

// .search-bar .form-group {
//   position: relative;
//   margin-bottom: 0;
//   margin-top:20px;
// }

// .align-items-center {
//   -ms-flex-align: center !important;
//   align-items: center !important;
// }


// .search-bar .form-group {
//   position: relative;
//   margin-bottom: 0;
// }

// .align-items-center {
//   -ms-flex-align: center !important;
//   align-items: center !important;
// }

// .search-bar .input-label-absolute-right .label-absolute {
//   right: 0;
// }

// .input-label-absolute-right .label-absolute {
//   right: .7rem;
// }
// .label-absolute {
//   position: absolute;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
//   color: #868e96;
// }
// label {
//   display: inline-block;
//   margin-bottom: .5rem;
//   // border:red
// }

// .fa-crosshairs:before {
//   content: "\f05b";
// }

// .input-label-absolute-right .form-control {
//   padding-right: 3rem;
// }
// .search-bar .form-control {
//   height: calc(1.5em + 1rem + 2px);
// }
// .shadow-0 {
//   box-shadow: none !important;
// }

// .border-0 {
//   border: 0 !important;
// }


// // category



// .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
//   width: 220px;
// }

// .form-inline .bootstrap-select, .form-horizontal .bootstrap-select, .form-group .bootstrap-select {
//   margin-bottom: 0;
// }
// .bootstrap-select:not(.input-group-btn), .bootstrap-select[class*="col-"] {
//   float: none;
//   display: inline-block;
//   margin-left: 0;
// }
// .bootstrap-select {
//   width: 220px \0;
// }
// .dropup, .dropright, .dropdown, .dropleft {
//   position: relative;
// }
// *, *::before, *::after {
//   box-sizing: border-box;
// }
// // user agent stylesheet
// div {
//   display: block;
// }
// .text-white {
//   color: #fff !important;
// }






// .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:active {
//   color: #999;
// }

// .bootstrap-select>.dropdown-toggle {
//   position: relative;
//   width: 100%;
//   z-index: 1;
//   text-align: right;
//   white-space: nowrap;
// }
// .btn.btn-form-control {
//   color: #ced4da;
//   border-color: #ced4da;
//   color: #495057;
//   border: none;
//   font-size: 1rem;
//   text-transform: none;
//   font-weight: normal;
//   letter-spacing: normal;
// }
// button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
//   cursor: pointer;
// }
// .btn {
//   letter-spacing: .3em;
//   text-transform: uppercase;
//   font-weight: bold;
// }
// .dropdown-toggle {
//   white-space: nowrap;
// }
// // .btn {
// //   display: inline-block;
// //   font-weight: 400;
// //   color: #212529;
// //   text-align: center;
// //   vertical-align: middle;
// //   -webkit-user-select: none;
// //   -moz-user-select: none;
// //   -ms-user-select: none;
// //   user-select: none;
// //   background-color: transparent;
// //   border: 1px solid transparent;
// //   padding: .525rem .75rem;
// //   font-size: .8rem;
// //   line-height: 1.6;
// //   border-radius: .4rem;
// //   transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
// // }
// button, [type="button"], [type="reset"], [type="submit"] {
//   -webkit-appearance: button;
// }
// button, select {
//   text-transform: none;
// }
// button, input {
//   overflow: visible;
// }
// input, button, select, optgroup, textarea {
//   margin: 0;
//   font-family: inherit;
//   font-size: inherit;
//   line-height: inherit;
// }

// .bootstrap-select>select {
//   position: absolute !important;
//   bottom: 0;
//   left: 50%;
//   display: block !important;
//   width: 0.5px !important;
//   height: 100% !important;
//   padding: 0 !important;
//   opacity: 0 !important;
//   border: none;
// }

// select.selectpicker {
//   visibility: hidden;
//   height: calc(1.6em + .75rem + 2px) !important;
// }
// select {
//   word-wrap: normal;
// }
// button, select {
//   text-transform: none;
// }
// input, button, select, optgroup, textarea {
//   margin: 0;
//   font-family: inherit;
//   font-size: inherit;
//   line-height: inherit;
// }
// *, *::before, *::after {
//   box-sizing: border-box;
// }
// // user agent stylesheet
// select:not(:-internal-list-box) {
//   background-color: buttonface;
// }
// // user agent stylesheet
// select:not(:-internal-list-box) {
//   overflow: visible !important;
// }
// // user agent stylesheet
// select {
//   border-radius: 0px;
//   border-color: rgb(169, 169, 169);
// }
// // user agent stylesheet
// select {
//   -webkit-appearance: menulist;
//   box-sizing: border-box;
//   align-items: center;
//   white-space: pre;
//   -webkit-rtl-ordering: logical;
//   color: black;
//   background-color: white;
//   cursor: default;
//   border-width: 1px;
//   border-style: solid;
//   border-color: initial;
//   border-image: initial;
// }
// // user agent stylesheet
// select {
//   border-radius: 5px;
// }
// // user agent stylesheet
// input, textarea, select, button {
//   text-rendering: auto;
//   color: initial;
//   letter-spacing: normal;
//   word-spacing: normal;
//   text-transform: none;
//   text-indent: 0px;
//   text-shadow: none;
//   display: inline-block;
//   text-align: start;
//   margin: 0em;
//   font: 400 13.3333px Arial;
// }


// select.selectpicker {
//   max-height: 550.891px;
//   // overflow: hidden;
//   min-height: 153px;
//   position: absolute;
//   will-change: transform;
//   top: 0px;
//   left: 0px;
//   transform: translate3d(0px, 42px, 0px);
// }

// .bootstrap-select .dropdown-menu {
//   min-width: 100%;
//   font-size: .9rem;
//   box-sizing: border-box;
// }
// // .dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
// //   right: auto;
// //   bottom: auto;
// //   color:green;
// // }
// // .dropdown-menu {
// //   box-shadow: 0 0rem 1.5rem rgba(0,0,0,0.175);
// // }
// .dropdown-menu {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   z-index: 1000;
//   display: none;
//   float: left;
//   min-width: 10rem;
//   padding: .5rem 0;
//   margin: .125rem 0 0;
//   font-size: 1rem;
//   color: #212529;
//   text-align: left;
//   list-style: none;
//   background-color:#fff;
//   background-clip: padding-box;
//   border: 0 solid rgba(0,0,0,0.15);
//   border-radius: .4rem;
// }


// .bootstrap-select .dropdown-menu.inner {
//   position: static;
//   float: none;
//   border: 0;
//   padding: 0;
//   margin: 0;
//   border-radius: 0;
//   box-shadow: none;
// }

// .bootstrap-select .dropdown-menu {
//   min-width: 100%;
//   font-size: .9rem;
//   box-sizing: border-box;
// }
// .dropdown-menu.show {
//   display: block;
// }

// .dropdown-item {
//   display: block;
//   width: 100%;
//   padding: .7rem 1.5rem;
//   clear: both;
//   font-weight: 400;
//   color: #212529;
//   text-align: inherit;
//   white-space: nowrap;
//   background-color: transparent;
//   border: 0;
// }


// .show>.btn.btn-form-control.dropdown-toggle {
//   color: #212529;
//   background-color: #ced4da;
//   border-color: #ced4da;
// }

// .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:active {
//   color: #999;
// }
// .bootstrap-select>.dropdown-toggle {
//   position: relative;
//   width: 100%;
//   z-index: 1;
//   text-align: right;
//   white-space: nowrap;
// }
// .btn.btn-form-control {
//   color: #ced4da;
//   border-color: #ced4da;
//   color: #495057;
//   border: none;
//   font-size: 1rem;
//   text-transform: none;
//   font-weight: normal;
//   letter-spacing: normal;
//   margin-bottom: 2em;
// }

// button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
//   cursor: pointer;
// }

// #button_search{
//   border-radius: 10rem !important;

//   letter-spacing: .3em;
//   text-transform: uppercase;
//   font-weight: bold;

//   height: 100% !important;

//   display: block;
//   width: 100%;

//   color:$app_yellow !important;
//   background-color: $app_blue !important;
//   border-color:transparent;
//   margin-top:1em !important;
//   padding:1.4em;
//   margin-left:-12px !important;
//   margin-bottom:1em

// }


// @media (min-width:920px)and (max-width:1030px){
//   #button_search{
   
  
//     color: #fff;
//     // background-color: #4E66F8 !important;
//     border-color:transparent;
//     margin-top:.4em;
//     margin-left:-10px;
//     width:100%;
   
//   }
  
// }


// @media(max-width:919px){
//   #button_search{
   
  
//     color: #fff;
//     // background-color: #4E66F8 !important;
//     border-color:transparent;
//     margin-top:.4em;
//     margin-left:-10px;
//     width:100%;
//     position: relative;
//     padding:-3px 10px -3px 10px;
   
//   }
  
// }


// ======== swiper ==========

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
    color:$app_blue;
    z-index: 30;
  }
  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
    color:$app_blue;
    z-index: 30;
  }
}



