
.background{
    background-color: white;
    padding :60px 60px 30px 60px;
    border-radius: 5px;
}

.map{
     padding-top: 20px;
     width: 100%;
    //  margin:10px;
    //  margin-left:20px;
 }

// .center{
//     // display:flex;
//     justify-content: center;
//     margin: 0 auto;

// }

.submitbtn{
    margin-left: -15px;
    padding-top: 15px;
}


.form_wrapper{

    width:100%;
    // align-items: center;
    margin:auto 20% auto 28%;
}

.align-center{
    margin: 0px;
}

.map{
    width:44%;
    margin-left: -15px;
}


// #map{
//     width: 800px;
// }