
.background{
    background-color: white;
    padding :60px 60px 30px 60px;
    border-radius: 5px;
}

.map{
     padding-top: 20px;
     width: 100%;
    //  margin:10px;
    //  margin-left:20px;
 }

// .center{
//     // display:flex;
//     justify-content: center;
//     margin: 0 auto;

// }

.submitbtn{
    margin-left: -15px;
    padding-top: 15px;
}


.form_wrapper{

    width:100%;
    // align-items: center;
    margin:auto 20% auto 28%;
}

.align-center{
    margin: 0px;
}

.map{
    width:44%;
    margin-left: -15px;
}


// #map{
//     width: 800px;
// }


//show page design

h1{
    margin-bottom: 40px;
    text-align: center;

}

.title-bar{
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    // padding-top: 40px;

}
p{
    font-size: 18px;
}

.map1{
    border-radius: 10px;
    margin-left: -10px;
    margin-right: 10px;
}

.info-box{
    background-color: white;
    padding:80px;
    padding-top: -20px;
    border-radius: 10px;
}