<div class="panel">
  <div class="panel-body">
  <%sender_id = Conversation.where(recipient_id: notification.user_id).reverse.first.sender_id%>
  <%# <%recipien_id = Conversation.where(sender_id: notification.user_id).reverse.first.recipient_id%> 
    <strong><%=link_to notification.content, "/conversations/#{Message.find_by(user_id: sender_id).conversation.id}/messages" %></strong>
    <span class="pull-right"><%= notification.created_at.to_formatted_s(:short) %></span>
  </div>
</div>
