<% if !@rooms.blank? %>
  <div class="row">
    <%= search_form_for @search, class: 'form-group', remote: true, url: host_calendar_path do |f| %>
      <div class="col-md-6 select">
        <div class="form-group">
          <label>Your Listings</label>
          <%= f.select :room_id, options_for_select(@rooms.collect {|u| [u.listing_name, u.id]}, params[:room_id]), {}, {
            onchange: "$(this.form).submit()",
            class: "form-control"
          } %>
        </div>
      </div>

      <%= f.hidden_field :start_date, id: "start-date", value: params[:start_date], onchange: "$(this.form).submit()" %>
    <% end %>
  </div>
<% end %>

<%= render 'form' %>

<div id="calendar"></div>

