<% rooms.each do |room| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag(url_for(room.cover),size:"300x300") %>
        </div>
        <div class="panel-body">
          <%= link_to room.listing_name, room %><br/>
<<<<<<< HEAD
          RM<%= room.price %> 
          </div>
=======
          RM<%= room.price %>
        </div>
>>>>>>> 4b67a3b044f8004d4e8a3337ac14b285ebe22d88
      </div>
    </div>
<% end %>
