<% rooms.each do |room| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
         <%= link_to room do %>
          <%= image_tag(url_for(room.cover),size:"300x300") %>
          <%end%>
        </div>
        <div class="panel-body">
         <%=room.listing_name%>  <br/>
          RM<%= room.price %>
        </div>
      </div>
    </div>
<% end %>
