



<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

            <div class="row">
              <div class="form-group ">
                <label>Price</label>
                <%= f.text_field :price, placeholder: "eg: 100 (the currency is RM)",id:"validationprice", class: "form-control is-valid",pattern:"^(\+?6?01)[0|1|2|3|4|6|7|8|9]-*[0-9]{7,8}$", required: true %>
           <div class="valid-feedback">
              Looks good!
            </div>  
            <div class="invalid-feedback">
              Please provide a valid price
            </div>
              </div>
            
            <div class="row pricing-btn">
              <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
validationprice.addEventListener("keyup", function (event) {
  const  isValidMobile = validationprice.checkValidity();
  if ( isValidMobile ) {
    validationprice.classList.remove("is-invalid");
    validationprice.classList.add("is-valid");
           
  }
  else
  {
   validationprice.classList.remove("is-valid");
    validationprice.classList.add("is-invalid");
               
  }
});
</script>